<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="book-list" *ngIf="!isLoading">
  <mat-card class="book-card" *ngFor="let book of books">
    <mat-card-header>
      <mat-card-title>{{ book.title }}</mat-card-title>
      <mat-card-subtitle>by {{ book.author }}</mat-card-subtitle>
      <mat-card-subtitle>{{ book.price }}$</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="book.imageURL" [alt]="book.title" />
    <mat-card-content>
       <p>
        {{ book.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button [routerLink]="['/details',book.id]">Details</button>
    </mat-card-actions>
    <mat-card-actions 
    *ngIf="isUserAuthenticated && userId == book.creator"
    >
      <button mat-button [routerLink]="['/edit', book.id]">Edit</button>
      <button mat-button color="warn" (click)="onDelete(book.id)">
        Delete
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<mat-paginator
  [length]="totalBooks"
  [pageSize]="booksPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)"
  *ngIf="books.length > 0"
></mat-paginator>
