.book-card{
  max-width: 20rem;
}

img{
  height: 18rem;
  width: 22rem;
}

.book-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

mat-card {
  margin: 1rem 0;
}

mat-card-content{
  word-wrap: break-word;
}