<mat-spinner *ngIf="isLoading"></mat-spinner>
<div  *ngIf="!isLoading">
  <mat-list>
  <div mat-subheader>Cart</div>
  <mat-list-item *ngFor="let item of cart">
    <div mat-line>id:{{item.bookId}}</div>
    <div mat-line>quantity:{{item.quantity}}</div>
    <button mat-fab color="warn" aria-label="Example icon button with a delete icon" (click)="onRemoveItem(item.bookId)" >
      <mat-icon >delete</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
<div style="text-align: center;">
  <h2 >Total: {{totalPrice}}$</h2>
  <button mat-raised-button color="primary" (click)="onOrder()">Order Now!</button>
</div>
</div>

